.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-image: url('../assets/Images/banner.png');
  background-size: cover;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.logo {
  max-width: 30%; 
  height: auto; 
  margin-right: 10px;
  
}


@media screen and (max-width: 768px) {
  .site-title {
    font-size: 20px; 
  }
}

@media screen and (max-width: 576px) {
  .site-title {
    font-size: 18px; 
  }
}