.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-image: url('../assets/Images/banner.png');
  background-size: cover;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 3;
  margin-left: 60px;
  margin-bottom: 20px;
}

.logo {
  max-width: 40%; 
  height: auto; 
  margin-left: 80px;
  padding-top: 10px;
}

.menu {
  align-items: center;
  
}

.menu button {
  margin-top: 200px;
}

@media screen and (max-width: 768px) {
  .site-title {
    font-size: 20px; 
  }

  .menu button {
    margin-top: 10px;
    align-items: center;
  }
}

@media screen and (max-width: 576px) {
  .site-title {
    font-size: 18px; 
    flex-direction: row;
    align-items: center;
  }
}

